h1 {
  margin-bottom: -10px;
}
h1,
h2 {
  color: var(--status);
}
main {
  margin: 0 3% 5% 3%;
  position: relative;
}
main ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  list-style: none;
  overflow: hidden;
  column-gap: 0;
  margin: 0;
}
main ul li img {
  object-fit: cover;
  display: block;
}
main section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10% 0 4% 4%;
}
main section p {
  padding-left: 7%;
}
@media screen and (min-width: 768px) {
  main {
    margin: 0 3% 4% 3%;
  }
  main section {
    padding: 6% 0 4% 4%;
  }
  main ul > *:nth-child(2n-1):nth-last-of-type(1) {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  main section p {
    width: 70%;
    padding-left: unset;
  }
  main ul > *:nth-child(2n-1):nth-last-of-type(1) {
    display: block;
  }
}
@media screen and (min-width: 1400px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1rem;
  }
  nav ul li a {
    font-size: 18px;
    margin-left: -20px;
  }
}
@media screen and (min-width: 2000px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 2rem;
  }
  p {
    font-size: 1.5rem;
  }
  nav ul li a {
    font-size: 1rem;
    margin-left: -40px;
  }
}
