.order-card {
  max-width: 765px;
  margin: 0 auto;
  padding: 3%;
}
.data-section {
  margin-bottom: 20px;
  padding: 0 3%;
}
.items-list {
  padding: 15px;
  margin-top: 5px;
  overflow-wrap: break-word;
}
.ticket-number {
  color: var(--primary-lable);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}
#status-pill {
  display: inline-block;
  padding: 6px 16px;
  border-radius: 50px;
  background-color: var(--status);
  color: var(--card-background);
}
#message {
  text-align: center;
  margin-top: 40px;
}
