h1 {
  margin-bottom: -15px !important;
}
main {
  padding: 1% 3%;
}
.queue-list {
  padding-left: 20px;
}
.queue-card {
  margin: 10px 0;
  padding: 15px;
  max-width: 765px;
}
.queue-link {
  text-decoration: none;
  color: var(--link);
  font-weight: bold;
}
.queue-link:hover {
  text-decoration: underline;
}
.status {
  color: var(--status);
  font-weight: bold;
  margin-left: 10px;
}
