:root {
  --card-background: #ffffff;
  --font: #333;
  --green: #0a6930;
  --blue: #055bae;
  --status: #e67e22;
  --red: #eb3b21;
  --body-background: #ebf5fe;
  --division-border: #d7ebfe;
  --dark-border: #c4e1fd;
  --light-border: hsl(0, 0%, 92%);
  --secondary-lable: #9ccaf1;
  --to-jenn-plaza: #59c2a9;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
}
body {
  font-family: 'Segoe UI', Arial, sans-serif;
  color: var(--font);
  display: flex;
  flex-direction: column;
}
h1 {
  font:
    normal normal bold 55px/1 'Playfair Display',
    serif;
  margin: 5px 0 0 0;
}
h2 {
  font:
    normal normal 300 25px/1.2 'Roboto',
    serif;
}
h4 {
  font: normal normal 300 15px/1.2 'Roboto';
}
h5 {
  font: normal normal 300 13px/1.2 'Roboto';
}
p {
  font: normal normal 300 16px/1.2 'Roboto';
  white-space: normal;
}
.xsFont {
  font-size: x-small;
}
.xxsFont {
  font-size: xx-small;
}
header {
  margin: 3% 3% 0 3%;
  z-index: 10;
  position: relative;
  height: 50px;
}
header div.container {
  display: flex;
  justify-content: space-between;
}
header > section {
  padding: 1% 3%;
}
header figure {
  margin: 0;
}
figure.logo {
  width: 33%;
  z-index: 5;
}
img:not(.logo) {
  width: 100%;
  height: 100%;
}
nav {
  display: flex;
  width: 150px;
}
nav ul {
  display: flex;
  margin: 3%;
  list-style: none;
  justify-content: space-between;
  width: 100%;
}
nav ul li a {
  margin-right: 10px;
  text-decoration: none;
  color: var(--font);
  font: normal normal bold 15px/1.2 'Roboto';
}
nav ul li a:hover {
  color: var(--status);
  text-decoration: underline;
}
.card {
  border-radius: 12px;
  background: var(--card-background);
  font-size: 15px;
  border: 1px solid #e2e8f0;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.05),
    0 4px 6px -4px rgba(0, 0, 0, 0.05);
}
.label {
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: var(--secondary-lable);
  font-weight: 700;
  margin-bottom: 25px;
}
button {
  margin-bottom: 5px;
  padding: 8px 12px;
  background-color: var(--red);
  color: var(--card-background);
  border: none;
  border-radius: 12px;
  cursor: pointer;
  width: 100%;
}
main {
  flex: 1;
  position: relative;
}
footer {
  display: flex;
  flex-flow: column wrap;
  padding-top: 3%;
  position: static;
  width: 100%;
}
footer div {
  place-items: center;
  padding: 1% 3%;
}
footer div:first-of-type {
  display: flex;
  flex-direction: column;
  background-color: var(--body-background);
}
footer div section {
  height: 35px;
  display: flex;
  align-items: center;
}
footer ul {
  list-style: none;
  display: flex;
  justify-content: end;
  padding: 0;
  margin: 10px 0;
}
footer ul li {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
footer ul li:nth-of-type(3) {
  margin-right: 0;
}
.site-footer {
  justify-content: center;
  white-space: nowrap;
  font-family: playfair display;
  color: var(--body-background);
  background-color: var(--blue);
}
span.designer-name a {
  color: var(--division-border);
  text-decoration: none;
}
.designer-name a:hover {
  color: var(--to-jenn-plaza);
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  figure.logo {
    width: 20%;
  }
  footer div:first-of-type {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  footer div section {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  figure.logo {
    width: 17%;
  }
}
@media screen and (min-width: 1200px) {
  figure.logo {
    width: 12%;
  }
  main {
    margin: -100px 3% 5% 3%;
  }
  footer div {
    padding: 0 3%;
  }
  footer div section {
    height: unset;
  }
  footer ul {
    padding: unset;
    margin: 0;
  }
}
@media screen and (min-width: 1600px) {
  figure.logo {
    width: 10%;
  }
}
